@charset "UTF-8";
/* CSS Document */

	@font-face {
        font-family: CA_BND_Web_Bold_700;
        src: url('../fonts/CABNDWebBold.ttf') format('truetype'),url('../fonts/CABNDWebBold.eot') format('eot');
        font-weight: 700;
    }
    @font-face {
        font-family: "Comic_Sans_MS";
        src: url('../fonts/comicsans.ttf') format('truetype'),url('../fonts/comicsans.eot') format('eot');
    }

    @font-face {
        font-family:Courier_New ;
        src: url('../fonts/courier.ttf') format('truetype'),url('../fonts/courier.eot') format('eot');
    }
    @font-face {
        font-family: DejaVu_Serif_400;
        src: url('../fonts/DejaVuSerif.ttf') format('truetype'),url('../fonts/DejaVuSerif.eot') format('eot');
        font-weight: 400;
    }

    @font-face {
        font-family: Delicious_500;
        src: url('../fonts/Delicious-Roman.ttf') format('truetype'),url('../fonts/Delicious-Roman.eot') format('eot');
        font-weight: 500;
    }
    @font-face {
        font-family: Modernist_One_400;
        src: url('../fonts/Modernist_One_400.ttf') format('truetype'),url('../fonts/Modernist_One_400.eot') format('eot');
        font-weight: 500;
    }
     @font-face {
        font-family: Bitter;
        src: url('../fonts/Bitter.ttf') format('truetype'),url('../fonts/Bitter.eot') format('eot');
        font-weight: 500;
    }
    @font-face {
        font-family: Cabin;
        src: url('../fonts/Cabin.ttf') format('truetype'),url('../fonts/Cabin.eot') format('eot');
        font-weight: 500;
    }
 @font-face {
        font-family: Lato;
        src: url('../fonts/Lato.ttf') format('truetype'),url('../fonts/Lato.eot') format('eot');
        font-weight: 500;
    }
 @font-face {
        font-family: PlayfairDisplay;
        src: url('../fonts/PlayfairDisplay.ttf') format('truetype'),url('../fonts/PlayfairDisplay.eot') format('eot');
        font-weight: 500;
    }
@font-face {
        font-family: PtSans;
        src: url('../fonts/PtSans.ttf') format('truetype'),url('../fonts/PtSans.eot') format('eot');
        font-weight: 500;
    }
    @font-face {
            font-family: Encient_German_Gothic_400;
            src: url('../fonts/Germgoth.ttf') format('truetype'),url('../fonts/Germgoth.eot') format('eot');
            font-weight: 400;
        }
    @font-face {
            font-family: Times_New_Roman;
            src: url('../fonts/Times_New_Roman.ttf') format('truetype'),url('../fonts/Times_New_Roman.eot') format('eot');
            font-weight: 400;
        }
    @font-face {
            font-family: geneva;
            src: url('../fonts/geneva.ttf') format('truetype'),url('../fonts/geneva.eot') format('eot');
        }

    @font-face {
            font-family: georgia;
            src: url('../fonts/georgia.ttf') format('truetype'),url('../fonts/georgia.eot') format('eot');
        }

    @font-face {
            font-family: helvetica;
            src: url('../fonts/helvetica-regular.ttf') format('truetype'),url('../fonts/helvetica-regular.eot') format('eot');
        }

   @font-face {
            font-family: impact;
            src: local('Impact'), url('../fonts/impact.ttf') format('truetype');/*,url('../fonts/impact/impact.eot') format('eot')*/
   }

    @font-face {
            font-family: Lucida_Grande;
            src: url('../fonts/lucida.ttf') format('truetype'),url('../fonts/lucida.eot') format('eot');
        }
    @font-face {
        font-family: monaco;
        src: url('../fonts/monaco.ttf') format('truetype'),url('../fonts/monaco.eot') format('eot');
        font-weight: bold;
    }
    @font-face {
        font-family: Myriad_Pro;
        src: url('../fonts/MYRIADPROREGULAR.woff')
        rc: url('../fonts/MYRIADPROREGULAR.ttf'),url('../fonts/MYRIADPROREGULAR.eot') format('eot');
    }
    @font-face {
        font-family: OdessaScript_500;
        src: url('../fonts/odessa-script.ttf') format('truetype'),url('../fonts/odessa-script.eot') format('eot');
        font-weight: 500;
    }
    @font-face {
        font-family: PT_Sans;
        src: url('../fonts/PT_Sans.ttf') format('truetype'),url('../fonts/PT_Sans.eot') format('eot');
        font-weight: 500;
    }
    @font-face {
        font-family: Quake_Cyr;
        src: url('../fonts/quake.ttf') format('truetype'),url('../fonts/quake.eot') format('eot');
    }
    @font-face {
        font-family: Tallys_400;
        src: url('../fonts/Tallys_15.ttf') format('truetype'),url('../fonts/Tallys_15.eot') format('eot');
        font-weight: 400;
    }

    @font-face {
        font-family: Verdana;
        src: url('../fonts/verdana.ttf') format('truetype'),url('../fonts/verdana.eot') format('eot');
    }
@font-face {
        font-family: Myriad_Pro;
        src: url('../fonts/Myriad_Pro.ttf') format('truetype'),url('../fonts/Myriad_Pro.eot') format('eot');
    }
@font-face {
        font-family: CABNDWebBold;
        src: url('../fonts/CABNDWebBold.ttf') format('truetype'),url('../fonts/CABNDWebBold.eot') format('eot');
    }








