@charset "UTF-8";
/* CSS Document */

input {
    margin: 40px 0 0 100px;
    font-size: 16px;
}

.popup_window {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px;
}

.popup_heading {
    float: left;
    width: 96%;
    cursor: move;
    padding: 2px 2%;
    position: relative;
    background: #09F;
    color: #fff;
}

.buttons {
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: auto;
}

.drag_area {
    float: left;
    width: 96%;
}

.content {
    float: left;
    width: 96%;
    font-size: 12px;
    padding: 2%;
}

.left {
    float: left
}

p {
    float: left;
    width: 58%;
    padding-left: 10px;
    line-height: 18px;
}



ul li a {
    color: #666;
    text-decoration: none;
}

ul li a:hover {
    color: #09f;
    text-decoration: underline
}

#demo-frame > div.slider {
    padding: 10px;
}

#formatText {
    padding-top: 0px;
}

#centerDivider {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#moveObjectsUpAndDown {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
}

#textLabelBold {
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    top: -2px;
    width: 32px;
    height: 30px;
}

#textLabelItalisized {
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    top: -2px;
    width: 32px;
    height: 30px;
}

#textLabelUnderlined {
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    top: -2px;
    width: 32px;
    height: 30px;
}

#textLabelShadow {
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    top: -2px;
    width: 32px;
    height: 30px;
}

#formatColor {
    padding-top: 7px;
}

#formatFont {
    padding-top: 7px;
}

#formatTextField {
    padding-top: 7px;
    width: 280px;
    height: 100px;
}

label, input {
    display: block;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

fieldset {s
    padding: 0;
    border: 0;
    margin-top: 25px;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

div#users-contain {
    width: 350px;
    margin: 20px 0;
}

div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.background-helper {
    background: url(../images/modalPopup/guide.png) no-repeat;
    width: 100%;
    height: 700px;
}

#guide-helper {
    overflow: visible;
    padding: 0;

}

.noTitleStuff .ui-dialog-titlebar {display:none}

.ui-dialog {
    border: none !important;
    top: 92px !important;
}


/*
.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
    border: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}*/
input[type=checkbox], input[type=radio] {

                 display: none;
}

.shareoption ul li {
    width: auto;
    padding: 5px 0 5px 0;
    width: 100%;
}

.hoverBox{
    position: relative;
    float:left;
    width: 25px;
    height: 25px;
}